body{
  background-color: white;
  color: black;
  font-family: 'Ropa Sans', sans-serif;
/*  font-family: 'Asap', sans-serif;*/
}

a {
  color: black;
}

/* MAP */

#map {
  position: relative;
  margin: 0 auto;
  width: 700px;
  height: 500px;
  /*border: 1px solid black;*/
}

.planet {
  position: absolute;
}

.planet h1 {
  color: transparent;
  text-align: center;
  font-size: 10px;
}

.planet:hover h1 {
  color: black;
}

.planet .sphere {
  box-sizing: border-box;
  border: 2px solid black;
  width: 30px;
  height: 30px;
}

.planet.selected .sphere{
  border: 5px solid black;
}

.planet.selected h1 {
  color: black;
}


/* INFO PANEL */

#info-panel {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.planet-info {
  box-sizing: border-box;
  padding: 30px 20px 0px 40px;
  background-color: white;
  position: absolute;

  right: -400px;
  /*right: 0px;*/
  top: 0px;
  bottom: 0px;
  width: 400px;
  border-left: 8px solid black;
}

.planet-info > h1 {
  margin-left: -20px;
  font-size: 40px;
  font-family: 'Asap', sans-serif;
}

.planet-info .info {
  margin-top: 20px;
}

.planet-info .details dt {
  float: left;
}

.planet-info .details dd {
  margin-left: 80px;
}
.planet-info .details dd span {
  font-family: 'Asap', sans-serif;
  font-size: .9em;
  line-height: 16px;
}

.planet-info .constructions {
  margin-top: 20px;
}

.planet-info .construction {
  font-size: 14px;
  margin-bottom: 10px;
}

.planet-info .construction > h1 {
  font-family: 'Asap', sans-serif;
}

.planet-info .construction .upgrade {
  margin-left: 80px;
  margin-top: -14px;
}

.planet-info .construction .details {
  margin-top: 5px;
}

.planet-info .navy .details {
  padding: 5px;
  width: 200px;
  border: 1px solid black;
  overflow: hidden;
}

.planet-info .navy ul li {
  float: left;
  margin-left: 10px;
}

.planet-info .navy ul li.selected {
  font-weight: bold;
}

.planet-info .controls {
  margin-top: 10px;
}
