body{
  background-color: white;
  color: black;
  font-family: 'Ropa Sans', sans-serif;
/*  font-family: 'Asap', sans-serif;*/
}

/* MAP */

#map {
  position: relative;
  margin: 0 auto;
  width: 700px;
  height: 500px;
  /*border: 1px solid black;*/
}

.planet {
  position: absolute;
}

.planet h1 {
  color: white;
  text-align: center;
  font-size: 10px;
}

.planet:hover h1 {
  color: black;
}

.planet .sphere {
  box-sizing: border-box;
  border: 2px solid black;
  width: 30px;
  height: 30px;
}

.planet.selected .sphere{
  border: 5px solid black;
}

.planet.selected h1 {
  color: black;
}


/* INFO PANEL */

#info-panel {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.planet-info {
  box-sizing: border-box;
  padding: 30px 40px 0px 40px;
  background-color: white;
  position: absolute;

  right: -300px;
  top: 0px;
  bottom: 0px;
  width: 300px;
  border-left: 8px solid black;
}

.planet-info > h1 {
  margin-left: -20px;
  font-size: 40px;
  font-family: 'Asap', sans-serif;
}

.planet-info .info {
  margin-top: 20px;
}

.planet-info .info dt {
  float: left;
}

.planet-info .info dd {
  font-family: 'Asap', sans-serif;
  margin-left: 80px;
  /*float: left;*/
}

.planet-info .machines {
  margin-top: 20px;
}

.planet-info .navy h1 {
  font-family: 'Asap', sans-serif;
  margin-bottom: 5px;

}

.planet-info .navy ul {
  border: 1px solid black;
  overflow: hidden;
}

.planet-info .navy ul li {
  float: left;
  margin-left: 10px;
}

.planet-info .controls {
  margin-top: 10px;
}

.planet-info .controls a {
  color: black;
}


